.form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus {
    background-image: linear-gradient(#000000, #a4a3a5), linear-gradient(rgba(120, 130, 140, .13), rgba(120, 130, 140, .13));
}

.login-box {
    box-shadow: -2px 6px 40px -12px rgba(79, 79, 79, 0.68);
    border-radius: 8px;
}

.sidebar-dark-primary {
    background: var(--main-color);
    /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
    /*background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);*/
    /*background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);*/
    /*background-image: linear-gradient(117deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);*/
}

.skin-blue .topbar, .skin-blue-dark .topbar {
    background: #ffffff;
}

.right-sidebar {
    z-index: 1000;
    box-shadow: 5px 1px 40px rgba(0, 0, 0, .1);
    transition: all .3s ease;
    border: none;
}
.bg-engyj{background-color: #4e5d9e!important;}
.pointer{cursor: pointer;}
.navbar-light .navbar-nav .nav-link{color: #fff;}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{color: rgb(255 255 255 / 74%);}
.navbar-light .navbar-nav .show>.nav-link{color: rgb(255 255 255 / 90%);}
.mega-dropdown{max-width: 600px;width: 100%;padding: 40px;}
.mega-dropdown .col img{height:100px}

.sidebar{padding-left: 0;padding-right: 0;}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-treeview {background: #4f5c9d;}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-treeview > .nav-item > .nav-link{padding-top: 5px;padding-bottom: 5px;}
.sidebar-dark-primary .nav-treeview>.nav-item>.nav-link:hover{background-color: transparent !important;}
.sidebar-dark-primary .nav-sidebar>.nav-item:hover>.nav-link{background-color: #1e282c;border-left:3px solid #008ca9}
.sidebar-dark-primary .nav-treeview>.nav-item>.nav-link.active{color: #fff;background-color: transparent;font-weight: 400;}
.sidebar-dark-primary .nav-sidebar>.nav-item.menu-open>.nav-link{color: #fff;background-color: #1e282c;border-left: 3px solid #ACB2D1;}
.nav-sidebar .nav-item>.nav-link{border-radius: 0;margin-bottom:0 !important;border-left:3px solid transparent}
.sidebar-dark-primary .nav-treeview>.nav-item>.nav-link.active, .sidebar-dark-primary .nav-treeview>.nav-item>.nav-link.active:hover{color: #fff !important;}

.looking-btn, .sidebar-mini.sidebar-collapse .main-sidebar:hover .looking-btn{background: #4CAF50;margin: 11px 17px 5px;padding: 6px 15px;color: #fff !important;border-radius: 3px !important;display: inline-block;width: 85%;}
.looking-btn:hover{background-color: #4CAF50 !important;}
.looking-btn p, .sidebar-mini.sidebar-collapse .main-sidebar:hover .looking-btn p{display: inline;}
.sidebar-collapse .looking-btn {margin: 11px 12px 5px;padding: 6px 12px;width: 20%;}
.sidebar-collapse .looking-btn p{display: none;}
.right-sidebar .rpanel-title {background: #2b2b2b;display: block;padding: 21px;color: #fff;text-transform: uppercase;font-size: 13px;}

.form-sub-heading{font-size: 16px;margin-bottom: 10px !important;font-weight: 700;}

.right-sidebar .rpanel-title span {
    float: right;
    cursor: pointer;
    /* font-size: 11px; */
}

.skin-blue-dark .left-sidebar .user-pro-body a.link {
    color: #ffffff;
}

.sidebar-nav ul li a, .sidebar-nav > ul > li > a i {
    color: #ffffff;
}

.sidebar-nav ul li a:hover,
.sidebar-nav > ul > li > a:hover i,
.sidebar-nav ul li a:visited,
.sidebar-nav > ul > li > a:visited i,
.sidebar-nav ul li a:active,
.sidebar-nav > ul > li > a:active i,
.skin-blue-dark .sidebar-nav ul li a.active,
.skin-blue-dark .sidebar-nav ul li a.active i {
    color: #ffffff !important;
}

.sidebar-nav .has-arrow::after {
    border-color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #2b2b2b;
}

.page-titles {
    background: none;
}

.text-info,
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #2b2b2b;
}

.skin-blue-dark .page-titles .breadcrumb .breadcrumb-item.active {
    color: #2a5298;
}

.skin-blue-dark .sidebar-nav > ul > li.active > a {
    border-left: 3px solid #ffffff;
}

.light-logo {
    max-height: 30px;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #e46a76;
}

.role-members {
    padding-bottom: 16px !important;
    padding-top: 17px !important;
}

/*******************
Border
*******************/
html body .b-0 {
    border: none;
}

html body .b-r {
    border-right: 1px solid #e9ecef;
}

html body .b-l {
    border-left: 1px solid #e9ecef;
}

html body .b-b {
    border-bottom: 1px solid #e9ecef;
}

html body .b-t {
    border-top: 1px solid #e9ecef;
}

html body .b-all {
    border: 1px solid #e9ecef !important;
}

.permission-section {
    background: #fdfdfd;
    padding: 0;
}

.navbar-header {
    text-align: center;
}

.select2-container--default .select2-search--inline .select2-search__field {
    width: 100% !important;
}

.select-file {
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #c9d7df;
    cursor: pointer;
}

.board-column {
    background-color: #ffffff;
    margin-left: 10px;
}

.board-column .panel-body {
    padding: 10px;
}

.lobipanel, .lobipanel-parent-sortable {
    width: 100%;
}

.lobipanel .panel-body {
    cursor: move;
}

.board-column .panel-heading a i {
    font-size: 18px;
}

.lobipanel-sortable {
    border-left: 3px solid;
    background: #f9f9f9;
}

.board-column .badge-primary {
    padding: .1em .5em;
}

@media (min-width: 992px) {

    /* Overwrite the default to keep the scrollbar always visible */
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        height: 7px;
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .5);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
}

.container-scroll > .container-row {
    overflow-x: auto;
    white-space: nowrap;
    /* flex-wrap: nowrap !important; */
    display: block;
}

.container-scroll > .container-row > .board-column {
    display: inline-block;
    float: none;
    white-space: normal;
    width: 290px !important;
}

.container-scroll > .container-row {
    margin-top: 24px;
}

.language-switcher .dropdown-toggle, .language-switcher .dropdown-toggle:hover, .language-switcher .dropdown-toggle:focus, .language-switcher .dropdown-toggle:active {
    background: rgba(255, 255, 255, 0.05);
    font-weight: 200;
    /*color: #FFFFFF;*/
}

.asColorPicker-wrap {
    display: block;
}

html body .navbar-dark .mailbox .message-center a .mail-contnet .mail-desc {
    white-space: normal;
}

.table-responsive {
    overflow-x: hidden;
}

#myTable {
    width: 100% !important;
}

.control-sidebar-slide-open .control-sidebar {
    /* width: 50%; */
    width: 70%;
    /* overflow-y: scroll; */
}

@media (max-width: 540px) {
    .control-sidebar-slide-open .control-sidebar {
        width: 100%;
        overflow-y: scroll;
    }


    .mt-xs-2{
        margin-top: .5rem!important;
    }


    .mb-xs-2{
        margin-bottom: .5rem!important;
    }

    .fc-toolbar .fc-right, .fc-toolbar .fc-left{
        font-size: 12px;
    }

    .fc-toolbar h2{
        font-size: 20px;
        margin-top: 30px;
    }

    .dtp-btn-clear, .dtp-btn-cancel{
        background: none;
    }

    .table td, .table th{
        padding: 0.25rem;
    }
}

.control-sidebar {
    top: 0 !important;
}

.control-sidebar-light, .control-sidebar-light:before {
    border: none;
}

.brand-image {
    float: none;
}

[class*=sidebar-dark] .brand-link, [class*=sidebar-dark] .user-panel {
    border-bottom-color: rgba(244, 246, 249, 0.34901960784313724);
}

.sidebar-dark-primary .sidebar a {
    color: #b8c7ce;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #1e282c;
}

.content-header h1{
    font-size: 1rem;
    font-weight: normal;
    padding-top: 5px;
    padding-left: 7px;
}

h4 {
    line-height: 22px;
    font-size: 18px
}

h5 {
    font-size: 14px;
}

h6{
    font-size: 13px;
    font-weight: normal;
}

.card-title{
    margin-bottom: 20px;
}

.login-logo{
    margin: 0;
    border-radius: 8px 8px 0 0;
}

.login-page{
    background-size: cover;
}

.form-control{
    font-size: 0.8rem;
}

.login-page label:not(.form-check-label):not(.custom-file-label){
    font-weight: 400;
}

.nav-sidebar>.nav-item .nav-icon{
    font-size: 14px;
}

#gmap_geocoding{
    height: 300px;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-responsive .custom-select{
    background: none;
}

.badge{
    font-weight: 300 !important;
    padding: 5px 8px;
}

.notify {
    position: relative;
    margin-top: -11px;
}

.notify .heartbit {
    position: absolute;
    top: -20px;
    right: -16px;
    height: 25px;
    width: 25px;
    z-index: 10;
    border: 5px solid #8d432c;
    border-radius: 70px;
    -moz-animation: heartbit 1s ease-out;
    -moz-animation-iteration-count: infinite;
    -o-animation: heartbit 1s ease-out;
    -o-animation-iteration-count: infinite;
    -webkit-animation: heartbit 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.notify .point {
    width: 6px;
    height: 6px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #fb9678;
    position: absolute;
    right: -6px;
    top: -10px;
}


@-moz-keyframes heartbit {
    0% {
      -moz-transform: scale(0);
      opacity: 0.0;
    }
    25% {
      -moz-transform: scale(0.1);
      opacity: 0.1;
    }
    50% {
      -moz-transform: scale(0.5);
      opacity: 0.3;
    }
    75% {
      -moz-transform: scale(0.8);
      opacity: 0.5;
    }
    100% {
      -moz-transform: scale(1);
      opacity: 0.0;
    }
  }
  @-webkit-keyframes heartbit {
    0% {
      -webkit-transform: scale(0);
      opacity: 0.0;
    }
    25% {
      -webkit-transform: scale(0.1);
      opacity: 0.1;
    }
    50% {
      -webkit-transform: scale(0.5);
      opacity: 0.3;
    }
    75% {
      -webkit-transform: scale(0.8);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1);
      opacity: 0.0;
    }
  }

  .content-wrapper>.content {
      padding:0 2rem;
  }

  .content .card {
      box-shadow: 0 6px 15px rgba(36,37,38,0.08);
  }

  .content-header {
    padding: 10px .5rem;
    background: white;
    margin-bottom: 1.5rem;
}

.border-bottom {
    border-bottom: 1px solid #f0f3f5!important;
}

.fc-toolbar button, .fc-toolbar button:hover {
    background: var(--main-color);
    border: none;
    color: white;
    text-shadow: none;
    font-weight: 300;
}

.fc-toolbar .fc-icon::after {
    font-weight: inherit;
}

.fc-toolbar h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

.fc td, .fc th {
    border-style: none !important;
}

.fc th {
    font-weight: 500;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    font-size: 14px;
    float:none;
}

.fc-ltr .fc-basic-view .fc-day-top {
    text-align: center;
}

.fc-widget-header {
    background: white;
    margin-bottom: 1rem;
}

.fc-unthemed td.fc-today {
    background: #fbfbfb;
}

.fc-event {
    line-height: 1.6;
    border: none;
    background: #919191;
    color: #ffffff !important;
    padding: 0 9px;
    font-size: 10px;
    line-height: 2.4;
}

label:not(.form-check-label):not(.custom-file-label), th {
    font-weight: 500;
}

.table-bordered {
    border-radius: 0.6rem;
    clear: both;
    margin-top: 6px;
    margin-bottom: 6px;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
}

.table-bordered thead th {
    border-bottom: none;
    border-top: none;
    border-left-width: 0;
}

.table-bordered td {
    border-left-width: 0;
    border-bottom-width: 0;
}

.table-bordered td:last-child, .table-bordered th:last-child  {
    border-right-width: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
} 

.direct-chat-name {
    font-weight: 400;
}

.sidebar-dark-primary .nav-treeview>.nav-item>.nav-link {
    color: #d4e0f2;
}

.fa {
    font-family: FontAwesome !important;
    font-weight: normal !important;
}

.sidebar-collapse .brand-image {
    margin-left: 0;
}

.login-card-body, .register-card-body {
    border-radius: 0 0 8px 8px;
}
.color--error {
    color: #e23636;
}

/* header notification */
.main-header .navbar-nav.ml-auto #verify-mobile-info .alert {
    padding: 0px 10px;
    font-size: 12px;
}

.main-header .navbar-nav.ml-auto #verify-mobile-info .alert a {
    font-size: 12px;
    margin: 5px 0;
    padding: 0.3em;
}

#footer-sticky-notes{
    right: 12px;
    background: rgba(0, 0, 0, 0.80);
    bottom: 0;
    position: fixed;
    width: 300px;
    z-index: 3;
}

#sticky-note-header{
    padding: 10px;
    color: #ffffff;
    border-bottom: 1px solid #ccc;
}

#sticky-note-list{
    padding: 0 5px;
    overflow-y: auto;
}

#sticky-note-list .sticky-note{
    margin: 5px 0;
}

#sticky-note-list .sticky-note .well{
    margin-bottom: 0;
}

#sticky-note-list .sticky-note .well.bg-red{
    background-color: red;
    color: #FFFFFF;
}

#sticky-note-list .sticky-note .well.bg-green{
    background-color: green;
    color: #FFFFFF;
}

#sticky-note-list .sticky-note .well.bg-blue{
    background-color: blue;
    color: #FFFFFF;
}

#sticky-note-list .sticky-note .well.bg-yellow{
    background-color: yellow;
    color: black;
}

#sticky-note-list .sticky-note .well.bg-purple{
    background-color: purple;
    color: #FFFFFF;
}

#sticky-note-list .sticky-note .well hr{
    border-color: #FFFFFF;
}

#sticky-note-list .sticky-note .well.bg-yellow hr{
    border-color: black;
}

#sticky-note-list .sticky-note .well i{
    color: #FFFFFF;
}

#sticky-note-list .sticky-note .well.bg-yellow i{
    color: black;
}

.icolors, .icheck-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.icolors>li {
    padding: 0;
    margin: 2px;
    float: left;
    display: inline-block;
    height: 30px;
    width: 30px;
    background: #000000;
    text-align: center;
}

.icolors>li.active:after {
    content: "\2713 ";
    color: #ffffff;
    line-height: 30px;

}

.icolors>li.active.yellow:after {
    color: black;
}

.icolors>li:first-child {
    margin-left: 0;
}

.icolors>li.orange {
    background: red;
}

.icolors>li.yellow {
    background: yellow;
}

.icolors>li.info {
    background: skyblue;
}

.icolors>li.green {
    background: green;
}

.icolors>li.red {
    background:red;
}

.icolors>li.purple {
    background: purple;
}

.icolors>li.blue {
    background: blue;
}

.bg-purple {
    background: purple !important;
}

.file-bg {
    height: 150px;
    overflow: hidden;
    position: relative;
}
.file-bg .overlay-file-box {
    opacity: .9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    text-align: center;
}
.card-img-top {
    border-top-right-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}
.card{
    border: 1px solid #ccc;
}
.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-block .card-title {
    margin-bottom: .75rem !important;
    font-size: 1em !important;
}

/* ToDo styles */

#todo-items-list h3 {
    margin-bottom: 0;
}

#completed-tasks > li.draggable label {
    text-decoration: line-through;
}

.todo-box{
    background-color: #fff;
    border-radius: 5px;
}

.todo-title{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px 5px 0 0;
}

#upper-box .todo-title {
    background-color: var(--orange);
}

#lower-box .todo-title {
    background-color: var(--teal);
}

.todo-title h5{
    color: #fff;
    padding: 13px 20px 11px;
    line-height: 1;
    font-size: 16px;
    margin: 0;
}

.btn-add{
    background-color: rgba(255, 255, 255, .1);
    color: #fff;
    border-left: 1px solid rgba(255, 255, 255, .3);
    font-size: 15px;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 10px;
}

.btn-custom {
    color: #ffffff;
    background-color: var(--main-color);
    border-color: var(--main-color);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-custom:hover {
    color: #fff;
}

.btn-add:hover{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
}

.handle {
    position: absolute;
    top: 1px;
    left: 5px;
    color: var(--main-color);
    opacity: 0.6;
    cursor: pointer;
}

/*======================
    Custom checkbox
========================*/

.checkbox input[type="checkbox"]{
    position: inherit;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

/* checkbox aspect */

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1.5px;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 3px;
}

/* checked mark aspect */

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
    content: '\f00c';
    position: absolute;
    background: var(--teal);
    font-size: 0.8em;
    line-height: 1em;
    border-radius: 3px;
    left: 0px;
    padding-left: 0.5px;
    padding-top: 1.4px;
    text-align: center;
    top:2px;
    width: 15px;
    height: 15px;
    color: #ffffff;
    transition: all 0.4s ease;
    font-family: 'FontAwesome';
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

/* checked mark aspect changes */

[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

[type="checkbox"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

[type="checkbox"]+label,
[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
    margin: 0;
    line-height: 1.3;
    padding-left: 1.6em;
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
    color: #222;
    font-weight: 400;
}

.checkbox.form-check label{
    position: absolute;
    left: 35%;
    top: 10%;
}

.empty-space {
    text-align: center;
    display: table;
    font-size: 14px;
    width: 100%;
    height: 100%;
}
.empty-space>.empty-space-inner {
    display: table-cell;
    vertical-align: middle;
}


/*======================
    Custom searchbox
========================*/

#search-container {
    position: relative;
}

#search-container a {
    position: absolute;
    right: 3%;
    top: 18%;
}

.modal-dialog-scrollable {
    display: flex;
}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto;
}

@media (min-width: 576px) {
    .modal-dialog-scrollable {
        max-height: calc(100% - 3.5rem);
    }
}

/*=====================
My Custom Styles
=====================*/
 /*Enter your custom css after this line*/ 
    .sidebar-dark-primary {
       /*background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);*/
        background-image: none;
        background-color: #222d32;
    } 
    .btn-primary {
        background-color: #4e5d9e;
        border-color: #4e5d9e;
    }
    .btn-primary:hover {
        color: #fff;
        background-color: #6877b8;
        border-color: #6877b8;
    }
    .page-item.active .page-link{
        background-color: #4e5d9e;
        border-color: #4e5d9e;
    }
    .page-link{
        color: #4e5d9e;
    }
    .btn-link{
        color: #4e5d9e;  
    }
    .progress-bar{
        background-color: #4e5d9e;
    }
    .block-spinner-bar > div{
        background: #4e5d9e !important;
    }
    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #4e5d9e;
        border-color: #4e5d9e;
    }
    .text-primary{
        color: #4e5d9e !important;
    }
    .btn-outline-primary{
        color: #4e5d9e;
        border-color: #4e5d9e;
    }
    .btn-outline-primary:hover {
        color: #fff;
        background-color: #4e5d9e;
        border-color: #4e5d9e;
    }
    .btn-outline-primary.focus, .btn-outline-primary:focus, .page-link:focus, .btn-primary.focus, .btn-primary:focus {
        box-shadow: 0 0 0 0.2rem rgb(68 84 155 / 45%) !important;
    }
    .btn.focus, .btn:focus {
        box-shadow: 0 0 0 0.2rem rgb(68 84 155 / 45%) !important;
    }
    .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
        background-color: #4e5d9e;
        border-color: #4e5d9e;
    }
    .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
        box-shadow: inset 0 3px 5px rgb(68 84 155 / 37%), 0 0 0 0.2rem rgb(68 84 155 / 22%);
    }
    .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
        box-shadow: inset 0 3px 5px rgb(68 84 155 / 37%), 0 0 0 0.2rem rgb(68 84 155 / 22%);
    }
    a {
        color: #4e5d9e;
    } 
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #4e5d9e;
        border-color: #4e5d9e;
    }
    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #4e5d9e;
        color: #fff;
    }
    .select2-dropdown .select2-search__field:focus, .select2-search--inline .select2-search__field:focus {
        border: 1px solid #4e5d9e;
    } 
    .dtp > .dtp-content > .dtp-date-view > header.dtp-header {
        background: rgb(68 84 155 / 86%) !important;
    }
    .dtp div.dtp-date, .dtp div.dtp-time {
        background: #4E5D9E !important;
    }
    .dtp .dtp-actual-meridien a.selected {
        background: #4E5D9E !important;
    } 
    .dtp table.dtp-picker-days tr > td > a.selected {
        background: #4E5D9E !important;
    } 
    .year-picker-item.active {
        color: #4E5D9E !important;
    }
    .year-picker-item:hover {
        color: #4E5D9E !important;
    } 
    .form-control:focus {
        border-color: #4E5D9E !important;
        box-shadow: inset 0 0 0 transparent, 0 0 0 0.2rem rgb(78 93 158 / 28%) !important;
    }
    .dropdown-item.active, .dropdown-item:active {
        background-color: #4E5D9E !important;
    }
    .bar .logo{
        top: 10px !important;
    }

    @media screen and (max-width:767px){
        .btn{float: left !important;margin-bottom: 5px;margin-right: 5px;}
        .pull-none-xs{float:none !important;}
        input[type="search"]{width: calc(100% - 59px) !important;}
        #myTable_length{text-align:left}
        #myTable_filter {margin-left: -8px;text-align: left;}

        .resume-button{    height: 51px;    margin-bottom: 0;}
        .resume-button a{float: none !important;}
    }

    .input-addon-right {
        position: absolute;
        top: 29px;
        right: 0px;
        padding: 8px 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 0px .25rem .25rem 0px;
    }

    .input-addon-left {
        position: absolute;
        top: 29px;
        left: 0px;
        padding: 8px 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        color: #8a8a8a;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: .25rem 0px 0px .25rem;
    }

    .input-budget {
        padding-left: 40px;
        padding-right: 55px;
    }

    .dot {
        height: 50px;
        width: 50px;
        cursor: pointer;
        border-radius: 50%;
        margin: 4px;
        display: inline-block;
    }
    .selected-dot {
        border: 4px solid #ffffff;
        box-shadow: 0 0 0 1px #d06f67;
        height: 58px;
        width: 58px;
    }
    .fc-month-button, .fc-agendaWeek-button, .fc-agendaDay-button {
        display: none !important;
    }

    .btn-transparent {
        background-color: transparent !important;
        box-shadow: unset !important;  
    }
    .btn-circle-transparent {
        background-color: transparent !important;
        box-shadow: unset !important;
        border: unset !important;
    }
    .tooltiptext {
        position: fixed;
        color: #fff;
        background-color: #5aa9ff;
        width: 20%;
        left: 40%;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        height: 40px;
        align-items: center;
        font-weight: 500;
        transition: all 0.3s ease-out;
        z-index: 9999;
    }
